.image-container {
  position: relative;
  padding-bottom: 75%; /* 4:3 aspect ratio (adjust as needed) */
}

.image-container img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.event-details-container {
  display: flex;
  align-items: stretch; /* Stretch items to have equal height */
}